---
interface Props {
	banners: {
		href: string;
		src: string;
		alt: string;
	}[];
	width: number;
	height: number;
	animationSpeed: number;
	id: string;
	repeat: number;
}
import TagBanner from "@/components/TagBanner.astro";
const { banners, width, height, animationSpeed, id, repeat } = Astro.props;
import {generateCarouselCSS} from '@/utils/carousel.css';
const carouselCSS = generateCarouselCSS(width, banners.length, id);
---

<style set:html={carouselCSS} />
<div
	class="pt-4 flex w-full items-center justify-center"
	style=`height: ${height}px;`
>
	<div class="overflow-hidden relative w-full" style=`height: ${height}px;`>
		<div
			class="flex gap-1"
			style=`
				width: calc(${width}px * ${banners.length * repeat});
				animation: scroll-${id} ${animationSpeed}s linear infinite;
			`
		>
		{
			Array.from({ length: repeat }).map(() => (
				banners.map((banner) => (
					<TagBanner
						href={banner.href}
						src={banner.src}
						alt={banner.alt}
						width={width}
						height={height}
					/>
				))
			))
		}
		</div>
	</div>
</div>
