---
interface Props {
	text: string;
	type: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6' | 'p' | 'span';
}
const { text, type } = Astro.props;

const Tag = {
	h1: 'h1',
	h2: 'h2',
	h3: 'h3',
	h4: 'h4',
	h5: 'h5',
	h6: 'h6',
	p: 'p',
	span: 'span',
};

const Class = {
	h1: 'text-4xl font-bold text-center text-primary-50',
	h2: 'text-3xl font-bold text-center text-primary-50',
	h3: 'text-2xl font-bold text-center text-primary-50',
	h4: 'text-xl font-bold text-center text-primary-50',
	h5: 'text-lg font-bold text-center text-primary-50',
	h6: 'text-base font-bold text-center text-primary-50',
	p: 'text-base text-primary-50',
	span: 'text-base text-primary-50',
};

const className = Class[type];

---

{type === 'h1' && <h1 class={className}>{text}</h1>}
{type === 'h2' && <h2 class={className}>{text}</h2>}
{type === 'h3' && <h3 class={className}>{text}</h3>}
{type === 'h4' && <h4 class={className}>{text}</h4>}
{type === 'h5' && <h5 class={className}>{text}</h5>}
{type === 'h6' && <h6 class={className}>{text}</h6>}
{type === 'p' && <p class={className}>{text}</p>}
{type === 'span' && <span class={className}>{text}</span>}

